@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "assets/css/variables.scss";
// @import 'bootstrap/dist/css/bootstrap';
@import 'materialize-css/dist/css/materialize';


body {
  margin: 0;
  padding: 0;
  background-color: rgb(235, 234, 213);
  color: $textColor;
}

.main {
  min-height: calc(100vh);
}

* {
  font-family: $familyPrimary;
  font-size: 18px;
}

.is-loading-custom {
  margin: 0 auto;
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid $textColor;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1.5em;
  position: relative;
  width: 1.5em;
}