@import "assets/css/variables.scss";

header {
  nav {
    background-image: linear-gradient(180deg, $pink, #a7174b);
    height: 80px !important;
    padding: 10px;
  }
  .icon {
    font-size: 40px !important;
  }
}